
<!doctype html>
<html lang="fa" data-bs-theme="auto">
<head>
    <script src="{{media_url}}/js/color.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="PHP Phone Book - github.com/ramoures/phone_book">
    <title>{{'Phone Book'|lang}}</title>
        {% if 'Direction'|lang == 'rtl' %}
          <link href="{{media_url}}/css/bootstrap.rtl.min.css" rel="stylesheet">
          <link href="{{media_url}}/css/font.farsi.css" rel="stylesheet">
        {% else %}
          <link href="{{media_url}}/css/bootstrap.min.css" rel="stylesheet">
        {% endif %}
    <link href="{{media_url}}/css/bootstrap-icons.min.css" rel="stylesheet">
    <link href="{{media_url}}/css/app.css" rel="stylesheet">
    <meta name="theme-color" content="#712cf9">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary" dir="{{'Direction'|lang}}">
   {% include('layouts/color.twig') %}
<main class="form-signin w-100 m-auto bg-body rounded-4">
<div class="d-flex mb-3 text-primary justify-content-center align-items-center gap-2 fs-1">    
    <i class="bi  bi-person-rolodex"></i> {{'Phone Book'|lang}}
</div>
  <form>
      <h1 class="h3 mb-3 fw-normal">{{'Please sign in'|lang}}</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">{{'Email address'|lang}}</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">{{'Password'|lang}}</label>
      </div>
   
      <button class="btn btn-primary w-100 py-2 mt-2" type="submit">{{'Sign in'|lang}}</button>
      <div dir="ltr" class="mt-4 small text-body-secondary text-center">© {{constant('YEAR')}} Your Company, Inc</div>
  </form>
</main>
<script src="{{media_url}}/js/bootstrap.bundle.min.js"></script>
</body>
</html>
