<!doctype html>
<html lang="fa" data-bs-theme="auto">
<head>
  <script src="{{media_url}}/js/color.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="generator" content="PHP Phone Book - github.com/ramoures/phone_book">
  <title>{{'Phone Book'|lang}} - {% block title %}{% endblock %}</title>
  {% if 'Direction'|lang == 'rtl' %}
      <link href="{{media_url}}/css/bootstrap.rtl.min.css" rel="stylesheet">
      <link href="{{media_url}}/css/font.farsi.css" rel="stylesheet">
  {% else %}
      <link href="{{media_url}}/css/bootstrap.min.css" rel="stylesheet">
  {% endif %}
  <link href="{{media_url}}/css/bootstrap-icons.min.css" rel="stylesheet">
  <link href="{{media_url}}/css/app.css" rel="stylesheet">
  <meta name="theme-color" content="#0d6efd">
</head>
<body class="bg-body-tertiary" dir="{{'Direction'|lang}}">
{% include("layouts/color.twig") %}
<div class="container">
    {% include("layouts/header.twig") %}
    {% block content %}{% endblock %}
    {% include("layouts/footer.twig") %}
</div>


<script src="{{media_url}}/js/bootstrap.bundle.min.js"></script>
<script src="{{media_url}}/js/jquery-3.7.0.min.js"></script>
<script src="{{media_url}}/js/app.js" type="module"></script>
</body>
</html>
